body {
  background-color: #f5f5f5;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.contenedor {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 40px;
  background-color: black;
  border-radius: 20px;
}

.luz {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rojo {
  background-color: red;
  animation-name: enciende-rojo;
}

.amarillo {
  background-color: yellow;
  animation-name: enciende-amarillo;
}

.verde {
  background-color: rgb(0, 255, 0);
  animation-name: enciende-verde;
}

@keyframes enciende-rojo {
  0%, 39% {
    opacity: 1;
  }
  40%, 100% {
    opacity: 0.1;
  }
}

@keyframes enciende-amarillo {
  0%, 40% {
    opacity: 0.1;
  }
  41%, 59% {
    opacity: 1;
  }
  60%, 100% {
    opacity: 0.1;
  }
}

@keyframes enciende-verde {
  0%, 60% {
    opacity: 0.1;
  }
  61%, 100% {
    opacity: 1;
  }
}
