@font-face {
  font-family: "Cinzel";
  src: url("./fonts/Cinzel/Cinzel-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f9f9;
  color: #333;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  height: 100px;
  background-color: #006666;
  color: white;
  background-image: url("./imagenes/puente_romano_1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 2em 1em;
}
header,
footer {
  background-color: #006666;
  color: white;
  text-align: center;
  padding: 1em;
}
main {
  padding-bottom: 7rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.escudo-header {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 8%;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 3.5rem;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 1); /* sombra muy intensa */
}

nav a {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em 1em;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 1em 2em;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.formulario {
  max-width: 500px;
  margin: 0 auto;
  background-color: #e0f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.formulario label {
  display: block;
  font-weight: bold;
}

.formulario input,
.formulario textarea,
.formulario button {
  margin-right: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1rem;
}

.formulario button {
  background-color: #006666;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button:hover {
  background-color: #004d4d;
}

.preview-container {
  width: 500px;
  position: relative;
  display: flex;
  overflow: scroll;
}
.preview-container img {
  width: 100%;
  left: 100px;
  position: sticky;
  object-fit: cover;
  border-radius: 8px;
  scroll-snap-align: center;
}

.visitas-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
