# Ignorar directorios de Python
__pycache__
*.pyc
*.pyo
*.pyd
.env
.git


# Ignorar entornos virtuales locales
.venv/
env/
venv/

# Ignorar archivos de configuración del IDE
.idea/
.vscode/

# Ignorar archivos ocultos del sistema operativo
.DS_Store