
    *,*::before,*::after {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    body {
      font-family: sans-serif;
      padding: 2rem;
      background-color: #f0f0f0;
    }
    h1 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 2rem;
      color: #2c3e50;
    }
    h2{
        text-align: center;
        color:  #4d647c;
         margin-bottom: 2rem;
    }
    .galeria {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      max-width: 1200px;
      margin: 0 auto;
    }
    .contenedor {
      position: relative;
      width: 300px;
      height: 200px;
      border-radius: 10px;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.5s ease;
    }
    .contenedor:hover {
      transform: scale(1.05);
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    }
    .imagen {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .texto-hover {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      transform: translateY(100%);
      transition: transform 0.3s ease;
    }
    .contenedor:hover .texto-hover {
      transform: translateY(0);
    }
    .texto-hover h3 {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }
    .texto-hover p {
      font-size: 0.9rem;
      line-height: 1.4;
    }
    @media (max-width: 768px) { html { font-size: 90%; } }
    @media (max-width: 480px) { html { font-size: 70%; } }
